<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <title>德采有限公司 - Virtuefun Company Ltd.</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/index.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/swiper@5.3.6/css/swiper.min.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-200">
    <div id="app">
      <section
        class="header h-36 w-screen inset-0 flex flex-row justify-between items-end px-44"
        :class="{ changeBg: scrollPosition > 0 }"
      >
        <img class="logo relative max-w-xs mb-5" src="assets/img/logo.png" />
        <div class="nav-bar relative mb-2">
          <span class="nav-item relative mr-12 cursor-pointer py-3.5">Home</span>
          <span class="nav-item relative mr-12 cursor-pointer py-3.5">Service</span>
          <span class="nav-item relative mr-12 cursor-pointer py-3.5">Experience</span>
          <span class="nav-item relative mr-12 cursor-pointer py-3.5">Contact Us</span>
        </div>
      </section>

      <section class="slider">
        <swiper ref="swiperComponent" :options="swiperOptions">
          <swiper-slide v-for="(item, idx) in swiperData" :key="item.title" class="swiper-slide">
            <img :src="`/assets/img/slider-${idx + 1}.jpg`" />
            <section class="swiper-content">
              <div class="title">{{ item.title }}</div>
              <div class="subtitle">{{ item.subtitle }}</div>
              <div v-for="p in item.desc" :key="p" class="desc">{{ p }}</div>
            </section>
          </swiper-slide>
          <div class="swiper-pagination swiper-pagination-bullets" slot="pagination"></div>
        </swiper>
      </section>

      <section class="service w-screen h-auto py-10 flex flex-col justify-around items-center">
        <div class="service-title flex-col justify-center my-8">
          <div class="text-center text-7xl text-white">出色的服務</div>
          <div class="text-center text-6xl text-blue-400 my-4">SERVICE ITEMS</div>
          <div class="underline"></div>
        </div>
        <div class="service-content mt-8">
          <div class="flex flex-col justify-start items-center" v-for="item in serviceData">
            <div class="service-icon">
              <img :src="`assets/img/service-${item.icon}.png`">
            </div>
            <div class="title text-5xl text-blue-400 my-5">{{ item.title }}</div>
            <div v-for="dec in item.desc" class="service-desc text-2xl text-gray-300">{{ dec }}</div>
          </div>
        </div>
      </section>

      <section class="business w-screen h-auto py-10 flex flex-col justify-around items-center">
        <div class="business-title flex-col justify-center my-8">
          <div class="text-center text-7xl text-white">您成功的後盾</div>
          <div class="text-center text-6xl text-blue-400 my-4">WE SUPPORT YOUR BUSINESS</div>
          <div class="underline"></div>
        </div>
        <div class="business-content my-10">
          <div class="business-item relative flex flex-col justify-start items-center"
               v-for="item in businessData">
            <img class="business-icon absolute top-0 right-0" :src="`assets/img/business-${item.icon}.png`">
            <div class="title mt-6 mb-4 mr-12 text-9xl text-white font-black">{{ item.count }}</div>
            <div class="title text-5xl text-white mt-5 mb-16 mr-9 font-light">{{ item.title }}</div>
            <div v-for="dec in item.desc" class="business-desc text-center text-2xl text-white font-light">{{ dec }}</div>
          </div>
        </div>
        <div class="iso-desc mt-28 mb-16">
          <p class="text-2xl text-white font-light">由最好的菁英顧問與開發人員，為用戶和企業帶來微笑。</p>
          <p class="text-2xl text-white font-light">輕鬆解決所有棘手的技術問題，確保解決方案的可用性。</p>
        </div>
      </section>

      <!-- 高質量服務與成果 -->
      <section class="provide w-screen h-screen flex flex-col justify-end items-end pb-16 pr-40 relative">
        <div class="business-title flex-col justify-center my-8">
          <div class="text-right font-normal text-6xl text-white">高質量服務與成果</div>
          <div class="text-right font-light text-5xl text-blue-400 mt-8">PROVIDE BETTER EXPERIENCES</div>
        </div>
        <div class="provide-desc mt-20 mb-16">
          <p class="text-2xl text-right text-white font-light">專業的團隊為用戶提供最好的服務，</p>
          <p class="text-2xl text-right text-white font-light">主動把關每一個環節。</p>
        </div>
        <div class="color-block"></div>
      </section>

      <!-- Experience -->
      <section class="experience bg-white w-screen h-screen py-10 flex flex-col items-center">
        <div class="flex-col justify-center my-8">
          <div class="text-center text-7xl text-gray-800">更好的體驗</div>
          <div class="text-center text-6xl text-indigo-900 my-4">通過我們的解決方案得到更好的體驗</div>
          <div class="underline"></div>
        </div>
        <div class="max-w-screen-xl flex flex-row justify-between items-center">
          <span class="" v-for="item in experienceData" :key="item">
            <img class="w-96 h-auto" :src="`assets/img/experince-${item}.png`">
          </span>

        </div>
      </section>

      <!-- Contact Us  -->

      <section class="footer w-screen h-32 flex flex-row justify-center items-center">
        <div class="logo w-60 h-auto">
          <img class="w-full" src="assets/img/logo.png" alt="logo" />
        </div>
        <p class="copyright text-xl text-black text-white font-light ml-6">
          ©2021 Virtuefun Company Ltd., All Rights Reserved.
        </p>
      </section>
    </div>

    <!-- Swiper library -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@5.3.6/js/swiper.min.js"></script>
    <!-- Vue library -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- vue-awesome-swiper -->
    <script src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper"></script>
  </body>
</html>

<script>
  Vue.use(VueAwesomeSwiper)
  new Vue({
    el: "#app",
    data: {
      scrollPosition: null,
      swiperOptions: {
        loop: true,
        autoplay: {
          disableOnInteraction: false,
          delay: 3500,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      },
      swiperData: [
        {
          title: "專業技術團隊",
          subtitle: "Expert Team",
          desc: [
            "我們提供您的企業或生意最佳的解決方案",
            "為您建構和部屬您的軟體服務或者創造新的生意",
          ],
        },
        {
          title: "持續招募菁英",
          subtitle: "We are recruiting talents",
          desc: [
            "歡迎更多研發與設計菁英的加入",
            "讓別人看見自己的價值從加入我們開始",
          ],
        },
        {
          title: "關於德采",
          subtitle: "About Virtuefun",
          desc: ["我們創建於2021年9月", "雖然創新但這裡聚集著菁英"],
        },
      ],
      serviceData: [
        {
          icon: 'solution',
          title: '分析解決方案',
          desc: ['提供專人服務分析需求','與提供建議']
        },
        {
          icon: 'risk',
          title: '風險管理',
          desc: ['全方位的服務']
        },
        {
          icon: 'plan',
          title: '商業計畫',
          desc: ['根據需求制定符合商業計畫','的解決方案']
        },
        {
          icon: 'time',
          title: '省時省力',
          desc: ['由專門的項目經理服務專案','時程化繁為簡']
        },
        {
          icon: 'ensure',
          title: '品質保證',
          desc: ['專業把關所有環節','鉅細彌遺完全掌握']
        },
        {
          icon: 'secret',
          title: '安全保密',
          desc: ['嚴格控管商業機密','安心有保障']
        },
      ],
      businessData: [
        {
          icon: 'plus',
          count: '120',
          title: '受惠客戶',
          desc: ['提出並完成解決方案，消除阻礙人們工作的障礙，推動您的成功。']
        },
        {
          icon: 'percent',
          count: '99',
          title: '效率提升',
          desc: ['我們提升了所有工作上的效率，大幅減少您成功所需要的成本與時間。']
        },
        {
          icon: 'degrees',
          count: '360',
          title: '全方位',
          desc: ['針對各行各業獨特視角的','專案計畫，','量身打造最佳方案。']
        },
        {
          icon: 'check',
          count: '600',
          title: '成功案例',
          desc: ['實戰經驗豐富，','各式問題迎刃而解，','深受信賴。']
        },
      ],
      experienceData: ['solution', 'apex', 'better']
    },
    mounted() {
      if (window.scrollY > 0) this.scrollPosition = 1;
      setTimeout(this.observeScrollPosition(), 1000);
    },
    methods: {
      observeScrollPosition() {
        window.addEventListener("scroll", () => {
          this.scrollPosition = window.scrollY;
        });
      },
    },
  });
</script>
