<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <title>德采有限公司 - Virtuefun Company Ltd.</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/index.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/swiper@5.3.6/css/swiper.min.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <section
        class="
          header
          h-36
          w-screen
          inset-0
          flex flex-row
          justify-between
          items-end
          px-44
        "
        :class="{ changeBg: scrollPosition > 0 }"
      >
        <img class="logo relative max-w-xs mb-5" src="assets/img/logo.png" />
        <div class="nav-bar relative mb-2">
          <span class="nav-item relative mr-12 cursor-pointer py-3.5">Home</span>
          <span class="nav-item relative mr-12 cursor-pointer py-3.5">Service</span>
          <span class="nav-item relative mr-12 cursor-pointer py-3.5">Experience</span>
          <span class="nav-item relative mr-12 cursor-pointer py-3.5">Contact Us</span>
        </div>
      </section>

      <section class="slider">
        <swiper ref="swiperComponent" :options="swiperOptions">
          <swiper-slide v-for="(item, idx) in swiperData" :key="item.title" class="swiper-slide">
            <img :src="`/assets/img/slider-${idx + 1}.jpg`" />
            <section class="swiper-content">
              <div class="title">{{ item.title }}</div>
              <div class="subtitle">{{ item.subtitle }}</div>
              <div v-for="p in item.desc" :key="p" class="desc">{{ p }}</div>
            </section>
          </swiper-slide>
          <div class="swiper-pagination swiper-pagination-bullets" slot="pagination"></div>
        </swiper>
      </section>

      <seciton class="service w-screen h-auto py-10 flex flex-col justify-around items-center">
        <div class="service-title flex-col justify-center my-8">
          <div class="text-center title-big text-7xl text-white">出色的服務</div>
          <div class="text-center text-6xl text-blue-400 my-4">SERVICE ITEMS</div>
          <div class="underline"></div>
        </div>
        <div class="service-content mt-8">
          <div class="flex flex-col justify-start items-center" v-for="(item, index) in serviceData">
            <div class="service-icon">
              <img :src="`assets/img/service-${item.icon}.png`">
            </div>
            <div class="title text-5xl text-blue-400 my-5">{{ item.title }}</div>
            <div v-for="dec in item.desc" class="service-desc text-2xl text-gray-300">{{ dec }}</div>
          </div>
        </div>
      </seciton>

      <!-- 您成功的後盾 -->

      <!-- 高質量服務與成果 -->

      <!-- Experience -->

      <!-- Contact Us  -->

      <section class="footer">
        <div class="logo"><img src="assets/img/logo.png" alt="logo" /></div>
        <p class="copyright">
          ©2021 Virtuefun Company Ltd., All Rights Reserved.
        </p>
      </section>
    </div>

    <!-- Swiper library -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@5.3.6/js/swiper.min.js"></script>
    <!-- Vue library -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- vue-awesome-swiper -->
    <script src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper"></script>
  </body>
</html>

<script>
  Vue.use(VueAwesomeSwiper)
  new Vue({
    el: "#app",
    data: {
      scrollPosition: null,
      swiperOptions: {
        loop: true,
        autoplay: {
          disableOnInteraction: false,
          delay: 3500,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      },
      swiperData: [
        {
          title: "專業技術團隊",
          subtitle: "Expert Team",
          desc: [
            "我們提供您的企業或生意最佳的解決方案",
            "為您建構和部屬您的軟體服務或者創造新的生意",
          ],
        },
        {
          title: "持續招募菁英",
          subtitle: "We are recruiting talents",
          desc: [
            "歡迎更多研發與設計菁英的加入",
            "讓別人看見自己的價值從加入我們開始",
          ],
        },
        {
          title: "關於德采",
          subtitle: "About Virtuefun",
          desc: ["我們創建於2021年9月", "雖然創新但這裡聚集著菁英"],
        },
      ],
      serviceData: [
        {
          icon: 'solution',
          title: '分析解決方案',
          desc: ['提供專人服務分析需求','與提供建議']
        },
        {
          icon: 'risk',
          title: '風險管理',
          desc: ['全方位的服務']
        },
        {
          icon: 'plan',
          title: '商業計畫',
          desc: ['根據需求制定符合商業計畫','的解決方案']
        },
        {
          icon: 'time',
          title: '省時省力',
          desc: ['由專門的項目經理服務專案','時程化繁為簡']
        },
        {
          icon: 'ensure',
          title: '品質保證',
          desc: ['專業把關所有環節','鉅細彌遺完全掌握']
        },
        {
          icon: 'secret',
          title: '安全保密',
          desc: ['嚴格控管商業機密','安心有保障']
        },
      ]
    },
    mounted() {
      if (window.scrollY > 0) this.scrollPosition = 1;
      setTimeout(this.observeScrollPosition(), 1000);
    },
    methods: {
      observeScrollPosition() {
        window.addEventListener("scroll", () => {
          this.scrollPosition = window.scrollY;
        });
      },
    },
  });
</script>
