.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(86deg, #49c5f4 0%, #35399e 100%);
    opacity: 0;
    transition: 0.3s;
    z-index: 900;
}
.header.changeBg::before {
    opacity: 1;
}

.logo, .nav-bar {
  z-index: 1000;
}